<div class="container">
    <div>
        <p>Daily Sales Data</p>
    </div>

    <div class="div-table">
        <table class="table table-bordered">
            <thead class="table-warning">
                <tr>
                    <th scope="col">YYYY</th>
                    <th scope="col">Total Sales</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let year of getYears(yearlySales)">
                    <td>{{ year }}</td>
                    <td>{{ yearlySales[year] | number:'1.2-2' }} usd</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>