<div class="container">
  <div class="search-div">
    <input type="text" (input)="searchData($event)" class="form-control search-input" placeholder="Search Data.."
      name="search">
  </div>

  <div>
    <table *ngIf="filterOrders.length > 0; else noOrders" class="table table-bordered div-table">
      <thead class="table-info">
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Product ID</th>
          <th scope="col">Unit Price</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of filterOrders;">
          <td>{{ order.OrderID }}</td>
          <td>{{ order.ProductID }}</td>
          <td>{{ order.UnitPrice | number:'1.2-2' }} $</td>
          <td>{{ order.Quantity }}</td>
        </tr>
      </tbody>
    </table>

    <ng-template #noOrders>
      <p style="text-align: center; font-size: 20; font-weight: 500;">No orders available.</p>
    </ng-template>
  </div>
</div>